# SERVIDOR
PORT=4000
NODE_ENV=development

# BASE DE DATOS
DATABASE_URL=postgresql://usuario:password@host/database?sslmode=require

# JWT
JWT_SECRET=coloca_un_secreto_aqui
JWT_EXPIRES_IN=8h

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret